tp_web_deployment_support/osds_data_UAT/sw_gss_deploy/local/config/wsdl/NetworkDataSetUpdate_InBound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="NetworkDataSetUpdate" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="NetworkDataSetUpdate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:documentation>
#*M-----------------------------------------------------------------------------
#*M                             MODULE HEADER 
#*M-----------------------------------------------------------------------------
#*M
#*M  File Name  : NetworkDataSetUpdate_InBound.wsdl
#*M 
#*M  Path       : bin/web_services/IncrementalUpdate
#*M 
#*M  SOAP Interface version: 2.0 
#*M 
#*M  (C) Copyright GE Energy, 2016
#*M
#*M-----------------------------------------------------------------------------
#*M                         MODULE CHANGE HISTORY
#*M-----------------------------------------------------------------------------
#*M
#*M  DATE       BY      CN      DESCRIPTION
#*M  ----       --      --      -----------
#*M  16-08-2018 DJ      XXXX    GISA1955 mod: After getting latest from POA, following manual mods were done 
#*M                             all tagged with "GISA mod"
#*M                             a.Reverted the refactoring of consumer.xsd file to have it inlined,
#*M                              as auto generation of java classes in GISA fails due to it. 
#*M                             b. service name was renamed to "OutboundPOF" so that 
#*M                             autogenerated code from this wsdl produces a service/classes with 
#*M                             a different name compared to the outbound wsdl 
#*M  17-10-2017 ST      298730  Factor out Consumer and its response into xsd
#*M                             file and make wsdl to include it
#*M  05-08-2018 DJ      312644  Added Property to Consumer message, which is of the new 
#*M                             complexType MessageProperty,
#*M  03-09-2016 BF      257844  Rename PayLoad item of GetJobStatusRequestType to 
#*M                             Payload to follow IEC 61968-100 standard.
#*M  01-09-2016 ST      257608  Ensure message is not double wrapped in GetJobStatusResponse
#*M  25-08-2016 CAG     256317  Added AsyncReplyFlag and CorrelationID
#*M                             to GetJobStatusHeaderType
#*M  16-06-2016 BF      251508  Make DataVersion mandatory in GetJobStatusRequestType
#*M  31-05-2016 YMC     249724  Ensure message is not 'doubly' wrapped by 
#*M                             removing the ConsumerStc element.
#*M                             Renamed some *types* to follow IEC 61968-100
#*M                             (element names have remained the same for 
#*M                             backward compatibility).
#*M  18-05-2016 BF      246539  Added GetJobStatusRequestType.
#*M  20-09-2012 DB      162841  Comment out SOAP 1.2 bindings and made some
#*M                             fields mandatory (see Description below). 
#*M  25-08-2010 DB      102924  Added AutoIntroduce
#*M  16-02-2010 DB      99235   Initial version
#*M
#*M-----------------------------------------------------------------------------
#*M                          MODULE DESCRIPTION
#*M-----------------------------------------------------------------------------
#*M
#*M  WSDL for the PowerOn inbound NetworkDataSetUpdate SOAP interface.
#*M  This WSDL was originally generated from C# project 
#*M  /src/DotNet/Enmac/WebServices/SOAPInBound/SOAPInBound
#*M  However, it needed to be manually edited because
#*M  1. Visual Studio cannot express a string that is mandatory and not nillable
#*M     The declaration:
#*M         public string myParam;
#*M     results in minOccurs="0" maxOccurs="1"
#*M     The following fields have been changed to minOccurs="1":
#*M      ChangeNetworkDataSetHeaderType.DataVersion
#*M      ChangeNetworkDataSetHeaderType.JobID
#*M      ChangeNetworkDataSetHeaderType.JobName
#*M      ChangeNetworkDataSetHeaderType.Source
#*M      GetJobStatusRequestType.DataVersion
#*M  2. The SOAP 1.2 bindings and ports have been commented out as this 
#*M     confused the AXIS2 application used by Cambridge's EO team to generate
#*M     their webservice.  
#*M
#*M-----------------------------------------------------------------------------
  </wsdl:documentation>

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="NetworkDataSetUpdate">
      <!-- GISA mod START : inlined contents of Consumer.xsd, and then add some namespace identifiers -->
      <s:element name="Consumer" type="tns:ChangeNetworkDataSetRequestMessageType" />
      <s:complexType name="ChangeNetworkDataSetRequestMessageType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MessageHeader" type="tns:ChangeNetworkDataSetHeaderType" />
          <s:element minOccurs="1" maxOccurs="1" name="MessagePayload" type="tns:ChangeNetworkDataSetPayloadType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangeNetworkDataSetHeaderType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobComments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JobName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nonce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noun" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplyAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Revision" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Verb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutoIntroduce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Property" type="tns:MessageProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageProperty">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>

      <s:complexType name="ChangeNetworkDataSetPayloadType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CircuitData" type="tns:CircuitDataStc" />
          <s:element minOccurs="0" maxOccurs="1" name="JobData" type="tns:JobDataStc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CircuitDataStc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CircuitID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="tns:CreatedStc" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="tns:DeletedStc" />
          <s:element minOccurs="1" maxOccurs="1" name="Updated" type="tns:UpdatedStc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreatedStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="URIPair" type="tns:URIPairStc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="URIPairStc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CIMURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GMLURL" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeletedStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="URIPair" type="tns:URIPairStc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdatedStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="URIPair" type="tns:URIPairStc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JobDataStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="URIPair" type="tns:URIPairStc" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsumerResponse" type="tns:ChangeNetworkDataSetResponseMessageType" />
      <s:complexType name="ChangeNetworkDataSetResponseMessageType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>     
      <!-- GISA mod END : inlined contents of Consumer.xsd, and then add some namespace identifiers -->
      <s:element name="GetJobStatus">
        <s:complexType>
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Header" type="tns:GetJobStatusHeaderType"/>
          <s:element minOccurs="1" maxOccurs="1" name="Request" type="tns:GetJobStatusRequestType"/>
        </s:sequence>
        </s:complexType>
      </s:element>      
      <s:complexType name="GetJobStatusHeaderType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Verb" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Noun" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AsyncReplyFlag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Circuit" type="tns:CircuitStc"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CircuitStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="mRID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetJobStatusRequestType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DataVersion" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetJobStatusResponse" type="tns:GetJobStatusResponseMessageType"/>
      <s:complexType name="GetJobStatusResponseMessageType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Header" type="tns:HeaderType"/>
          <s:element minOccurs="1" maxOccurs="1" name="Reply" type="tns:ReplyType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Payload" type="tns:JobStatusPayloadType"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HeaderType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Verb" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Noun" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReplyType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Error" nillable="true" type="tns:ErrorType"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="JobStatusPayloadType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JobStatus" type="tns:JobStatusType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="JobStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="Queued"/>
          <s:enumeration value="Creating"/>
          <s:enumeration value="RetryCreate"/>
          <s:enumeration value="Created"/>
          <s:enumeration value="Ready"/>
          <s:enumeration value="Introducing"/>
          <s:enumeration value="RetryIntroduce"/>
          <s:enumeration value="TempIntroduced"/>
          <s:enumeration value="Removed"/>
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  
  <wsdl:message name="GetJobStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobStatus" />
  </wsdl:message>
  <wsdl:message name="GetJobStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobStatusResponse" />
  </wsdl:message>
  <!-- GISA mod START : commented to suppress INCLUDE of xsd -->
<!--   <wsdl:types>
    <s:schema targetNamespace="NetworkDataSetUpdate" elementFormDefault="qualified">
      <s:include schemaLocation="schemas/in_out/Consumer.xsd"/>
    </s:schema>
  </wsdl:types> -->
  <!-- GISA mod END: commented to suppress INCLUDE of xsd -->
  <wsdl:message name="ConsumerSoapIn">
    <wsdl:part name="request" element="tns:Consumer" />
  </wsdl:message>
  <wsdl:message name="ConsumerSoapOut">
    <wsdl:part name="ConsumerResult" element="tns:ConsumerResponse" />
  </wsdl:message>
  <wsdl:portType name="NetworkDataSetUpdateSoap">
    <wsdl:operation name="Consumer">
      <wsdl:input message="tns:ConsumerSoapIn" />
      <wsdl:output message="tns:ConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <wsdl:input message="tns:GetJobStatusSoapIn" />
      <wsdl:output message="tns:GetJobStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetworkDataSetUpdateSoap" type="tns:NetworkDataSetUpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consumer">
      <soap:operation soapAction="NetworkDataSetUpdate/Consumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <soap:operation soapAction="NetworkDataSetUpdate/GetJobStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
<!--
  <wsdl:binding name="NetworkDataSetUpdateSoap12" type="tns:NetworkDataSetUpdateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consumer">
      <soap12:operation soapAction="NetworkDataSetUpdate/Consumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <soap12:operation soapAction="NetworkDataSetUpdate/GetJobStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
-->
  <!-- GISA mod  : wsdl:service name has been changed to OutboundPOF, so that we can get a unique name 
  (different from outbound) for the service via auto generation of classes-->
  <wsdl:service name="OutboundPOF">
    <wsdl:port name="NetworkDataSetUpdateSoap" binding="tns:NetworkDataSetUpdateSoap">
      <soap:address location="http://localhost/SOAPInBound/NetworkDataSetUpdate.asmx" />
    </wsdl:port>
<!--
    <wsdl:port name="NetworkDataSetUpdateSoap12" binding="tns:NetworkDataSetUpdateSoap12">
      <soap12:address location="http://localhost/SOAPInBound/NetworkDataSetUpdate.asmx" />
    </wsdl:port>
-->
  </wsdl:service>
</wsdl:definitions>
